.main{
    position: absolute;
    border-color:black;
    margin-top:14vh;
    margin-left:94.8vh;
    bottom:0;
    width: 120px;
    top:10vw;
    height: 21px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 12px;
    color:white;
    
}

.main::before{
    content: "";
    position: absolute;
    left:3px;
    height: 28px;
    bottom:0px;
    top:-8px;
    width: 53px;
    border-left: 2px solid white;
    border-right: 0px solid transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.main::after{
    content: "";
    position: absolute;
    right:3px;
    height: 28px;
    bottom:0px;
    top:-8px;
    width: 53px;
    border-left: 0px solid transparent;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;   
}


.main:hover::after{
    animation-name: outterRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.main:hover::before{
    animation-name: outterLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.cumulative-statistic{
    position: absolute;
    margin-top:14vh;
    margin-left:98vh;
    top:0vw;
    left:-18px;
    border:2px solid white;
    outline: 0;
    border-radius:5px;
    width:120px;
    height:25px;
    background-color:transparent;
    color:white;
}

@keyframes outterRight{
     
    90%{
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
    100%{
        width: 0px;
        right:-2px;
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
}

@keyframes outterLeft{
    90%{
        top:-2px;
        bottom:-2px;
        height: 17px;
        
    }
    100%{
        width: 0px;
        left:-2px;
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
}
