.container{
    position: absolute;
    width: 100%;
    height: 50px;
    top:0px;
    left:0px;  
    background: linear-gradient(to right,rgba(33,34,36,1),rgba(255, 255, 255, 0.13));
}

.text{
    position:absolute;
    color:white;
    margin-left:70px;
    margin-top:0.95%;
    font-weight: 700;
}


.button{
    position:relative;
    left:73vw;
    bottom:-1vw;
    height: 25px;
    border:none;
    border-color:transparent;
   
    outline: none;
    background-color: transparent;
    color:white;
    margin-left:30px;
    font-weight: 700;
    padding:0;
}

.button::after{
    content: "";
    position: absolute;
    bottom:0px; 
    left:0;  
}

.button:hover::after{
    animation-name: button-hover;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    width:100%;
    height: 3px;
    
    background-color: white;
    border-radius:5px;
}

.sidebar-button-container {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top:0.7vw;
    left:12px;
}

.sidebar-button{
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:47%;
    left:5px;
   
}

.sidebar-button::before{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:5px;
}

.sidebar-button::after{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    bottom:5px;
}

.shadow{
    position: fixed;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5 );
    top:0;
    left:0;
    z-index: 120;
    height: 100vh;
    width: 100vw;
}

.animated{
    position: absolute;
    animation-name: shadowbox;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    top:-20px;
    left:-10px;
}

.sidebar-container:hover{
    cursor: pointer;
}

.sidebar{
    position: fixed;
    overflow: hidden;
    background-color: #212224;
    top:0;
    left:0;
    z-index: 140;
    animation-name: sidebar;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    height: 100%;
    width:18%;
}

.sidebar-close{
    
    position: fixed;
    overflow: hidden;
    background-color: #212224;
    top:0;
    left:0;
    z-index: 141;
    animation-name: sidebar-close;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    height: 0;
    width:0;
}

.sidebar-button-animated {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top:0.7vw;
    left:12px;
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.sidebar-button-close {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top:0.7vw;
    left:12px;
    animation-name: slide-out;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.sidebar-button-a{
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:47%;
    left:5px;
    animation-name: slide-i;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.sidebar-button-a::before{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:5px;
}

.sidebar-button-a::after{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    bottom:5px;
}

.sidebar-button-a-close{
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:47%;
    left:5px;
    animation-name: slide-o;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
   
}

.sidebar-button-a-close::before{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    top:5px;
}

.sidebar-button-a-close::after{
    content: "";
    position: absolute;
    background-color: #606060;
    width: 20px;
    height: 2px;
    bottom:5px;
}

@keyframes slide-in{
 0%{
    left:0px;
 }
 100%{
    left:12px;
 }
}

@keyframes slide-out{
     0%{
        left:12px;
 }
 100%{
    left:0px;
 }
}

@keyframes slide-i{
    0%{
       left:0px;
    }
    100%{
        left:5px;
    }
   }
   
   @keyframes slide-o{
        0%{
            left:5px;
    }
    100%{
       left:0px;
    }
   }

@keyframes shadowbox {
    0%{
        border-radius: 20px;
        background-color: rgba(96,96,96,0.01 );
        width: 40px;
        height: 40px;
       
    }
    100%{
        border-radius: 20px; 
        background-color: rgba(96,96,96,0.25 );
        width: 40px;
        height: 40px;
    }
}

@keyframes sidebar{
   0%{
    height: 100%;
    width:0%;
   }
    100%{
        height: 100%;
        width:18%;
    }
}

@keyframes sidebar-close{
    0%{
        height: 100%;
        width:18%;
    }
     100%{
         
         height: 100%;
         width:0%;
     }
 }

 @keyframes button-hover{
   
    0%{
        width:0%;
        height: 3px;
    }
    100%{
        width:100%;
        height: 3px;
    }
 }

/* .main{
    position: absolute;
    border-color:black;
    left:10px;
    bottom:0;
    width: 100px;
    height: 21px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.main::before{
    content: "";
    position: absolute;
    left:3px;
    height: 26px;
    bottom:0px;
    top:-7px;
    width: 43px;
    border-left: 2px solid white;
    border-right: 0px solid transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  
}

.main::after{
    content: "";
    position: absolute;
    right:3px;
    height: 26px;
    bottom:0px;
    top:-7px;
    width: 43px;
    border-left: 0px solid transparent;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


.main:hover::after{
    animation-name: outterLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.main:hover::before{
    animation-name: outterRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



@keyframes outterLeft{
    90%{
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
    100%{
        width: 0px;
        right:-2px;
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
}


@keyframes outterRight{
    90%{
        top:-2px;
        bottom:-2px;
        height: 17px;
        
    }
    100%{
        width: 0px;
        left:-2px;
        top:-2px;
        bottom:-2px;
        height: 17px;
    }
}
 */
