.main-container{
    background-color: #111110;
    width:80vw;
    height: 40vh;
    position: absolute;
    top: 65.8vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
}

.main-container:focus { outline: 0; }

.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: repeat(auto-fill, 40px);
    grid-auto-columns: 40px;
    grid-auto-rows:40px;
    padding-left:6%;
    padding-bottom: 4px;
    grid-gap: 4px;
}
.main-container::after{
    content: "";
    position: absolute;
    bottom:-25px;
    width:76.3vw;
    border-bottom: 25px solid #111110;
    transform:rotate(180deg);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.main-container::before{
    content: "";
    position: absolute;
    top:-15px;
    left:-5px;
    width:79.9vw;
    border-bottom: 15px solid #111110;
    transform:rotate(180deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.grid-container:first-child{
    padding-top:12px;
}

.grid-item{
    animation-name: rgb;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
    font-size:70%;
    border: 1px solid black;
    border-radius: 3px;
    
}

.display{
    position: relative;
    top:2vw;
    margin: 14vh auto;
    width: 10vw;
    height: 6vh;
    border: 2px solid #606060;
    box-shadow: #606060 1px 1px 4px 2px;
    text-align: center;
    font-size:15px;
    border-radius:2px;
    z-index:5;
}

.start-practise-button{
    position: absolute;
    margin-top:14vh;
    margin-left:98vh;
    top:12vw;
    border:2px solid transparent;
    outline: 0;
    border-radius:5px;
    background-color:cyan;
}

.start-practise-button:focus{
    border: 2px solid blue !important;
    border-radius:5px;
}

.attempts-container{
    display:grid;
    position: absolute;
    top:6vw;
    left:60vw;
    background-color: #1f1f1e;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(1, 220px);
    height: 220px;
    width: 400px;
    border-top-color: transparent;
}
.attempts-item{
    font-size:30px;
    font-weight: 400;
   
}

.number{
    font-size:80px;
    margin-top:14px;

}

.attempts-item:nth-child(1){
    text-align: center;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #606060;
}

.text-to-top{
    position: relative;
    bottom:2.5vh;
    text-align:center;
    color: white;
    margin-bottom:0px;
}

.timer{
    position: absolute;
    left: 47vw;
    top: 14.5vw;
    color:white;
    font-size:18px;
}

.display-results{
    position: absolute;
    top:6vw;
    left:10vw;
    height: 220px;
    width: 400px;
    background-color: #1f1f1e;
    color:white;
    z-index:15;
}

.result-items{
    margin: 3px !important;
    font-size:13px;
}

.one-letter{
    display: inline-block; 
}

@keyframes rgb{
    0%{
      box-shadow: 0 0 4px 4px red;
      color:red;
    }
    8%{
      box-shadow: 0 0 4px 4px Lime;
      color:lime;
    }
    16%{
        box-shadow: 0 0 4px 4px blue;
        color:blue;
    }
    24%{
        box-shadow: 0 0 4px 4px yellow;
        color:yellow;
      }
    32%{
        box-shadow: 0 0 4px 4px cyan;
        color:cyan;
      }
    40%{
        box-shadow: 0 0 4px 4px magenta;
        color:magenta;
    }
    48%{
        box-shadow: 0 0 4px 4px maroon;
        color:maroon;
    }
    56%{
        box-shadow: 0 0 4px 4px olive;
        color:olive;
    }
    64%{
        box-shadow: 0 0 4px 4px green;
        color:green;
    }
    72%{
        box-shadow: 0 0 4px 4px purple;
        color:purple;
    }
    80%{
        box-shadow: 0 0 4px 4px teal;
        color:teal;
    }
    88%{
        box-shadow: 0 0 4px 4px navy;
        color:navy;
    }
    100%{
        box-shadow: 0 0 4px 4px green;
        color:green;
    }
    
}