.grid-container{
  display: grid;
grid-template-columns: repeat(512, 100px);
grid-template-rows: repeat(auto-fill, 40px);
grid-auto-columns: 100px;
grid-auto-rows: 40px;
border-collapse: collapse;
}



.grid-item {
background-color: lightblue;
padding: 2px;
font-size: 70%;
font-size: 70%;
width: 70%;
grid-column:1;
border-radius: 0 0px 0px 0;

}
.shit {
  height: 30px;
  position: relative;
}
.shit::after {
  content: '';
  position: absolute;
  bottom: -6.4px;
  left:72px;
  border-left: 26px solid lightblue;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
 
}

  .hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    position: relative;
    top:2px;
  }

  .button-tournament {
    position: relative;
   background-color: rgb(144, 144, 144);
   width: 60px;
   height: 22px;
   outline:0;
   border: 0;
   border-radius: 4px;
   color:white;
   bottom: 4px;
  }

  .button-tournament:hover {
   outline:0;
   width: 65px;
   height: 25px;
   }
   .button-tournament:focus{
    border: 1px solid blue !important;
   }

   .center {
    text-align: center;
    margin:auto;
    padding-top: 20px;
    font-size: 10px;
    border: 1px solid darkturquoise;
    width:28%;
    height: 42vh;
    color:white;
    box-shadow: 2px 2px rgb(11, 251, 255);
    border-radius: 15px;
   
   }

   .input {
    display: block;
    margin: 10px auto;
    width: 130px;
    border-radius: 5px;
    border: 1px solid darkturquoise;
    
   }
   .shadow{
    position: fixed;
     z-index: 100;
     height: 100vh;
     width: 100vw;
     top:0;
     left:0;
    background-color: rgba(0, 0, 0 ,0.50);
   }
   .dialog {
     z-index: 2131;
     position: fixed;
     left: 82vh;
     top: 30vh;
     padding-top: 20px;
     font-size: 10px;
     background-color: #282c34;
     border: 1px solid darkturquoise;
     width: 25vw;
     height: 32vh;
     border-radius: 10px;
     color:white;
     box-shadow: 5px 5px 4px rgba(0,0,0,0.3);
     overflow-y: auto;
   }

   .dialog-button {
    position: relative;
   background-color: rgb(58, 183, 185);
   width: 60px;
   height: 22px;
   outline:0;
   border: 0;
   border-radius: 4px;
   color:white;
   top: 10px;
   float: right;
   right: 10px;
  }

  .dialog-button:hover {
   width: 65px;
   height: 25px;
   }
   .dialog-button:focus{
    border: 1px solid gray !important;
   }

   .cancel-button {
    position: relative;
   background-color: crimson;
   width: 60px;
   height: 22px;
   outline:0;
   border: 0;
   border-radius: 4px;
   color:white;
   top: 10px;
   float: left;
   left: 10px;
  }

  .cancel-button:hover {
   width: 65px;
   height: 25px;
   }
   .cancel-button:focus{
    border: 1px solid gray !important;
   }

  .tournament{
    text-align: center;
    margin:10px auto;
    border-radius: 20px;
    padding:3px;
    width:28vw;
    background-color: rgb(200, 15, 40);
    color:white;
    text-align: center;

    height: 25px;
  }

  .title{
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 50px;
    color:white;
  }

  .team-span{
    text-align: left;
    position: relative;
    left:15vh;
    top:10px;
    font-size: 12px;
    width:50%;
    color:white;
  }

  .dialog-sticky-button {
    position: sticky;
   background-color: rgb(58, 183, 185);
   width: 60px;
   height: 22px;
   outline:0;
   border: 0;
   border-radius: 4px;
   color:white;
   top: 10px;
   bottom:10px;
   float: right;
   right: 10px;
  }

  .dialog-sticky-button:hover {
   width: 65px;
   height: 25px;
   }
   .dialog-sticky-button:focus{
    border: 1px solid gray !important;
   }

   .sticky-cancel-button {
    position: sticky;
   background-color: crimson;
   width: 60px;
   height: 22px;
   outline:0;
   border: 0;
   border-radius: 4px;
   color:white;
   top: 10px;
   bottom: 10px;
   float: left;
   left: 10px;
  }

  .sticky-cancel-button:hover {
   width: 65px;
   height: 24px;
   }
   .sticky-cancel-button:focus{
    border: 1px solid gray !important;
   }

   .tournament:hover{
     cursor: pointer;
    text-align: center;
    padding-top: 6px;
    width:28.5vw;
  }

  .show-bracket {
    text-align: center;
    margin:10px auto;
    border-radius: 20px;
    padding:3px;
    width:20vw;
    background-color: rgb(95, 216, 25);
    color:white;
    text-align: center;
    height: 25px;
  }
  .show-bracket:hover{
    cursor: pointer;
   text-align: center;
   padding-top: 6px;
   width:20.5vw;
 }

 .show-bracket::after{
  content:'';
  position: relative;
  bottom:17px;
  left:60px;
  border-left: 2px solid white;
  height: 1vh;
 }

 .show-bracket::before{
 content:'';
 position: relative;
 bottom:17px;
 right:60px;
 border-left: 2px solid white;
 height: 1vh;
}

.line-down{
  position: relative;
  height: 21px;
  left:98px;
  bottom:14px;
  border-left: 2px solid white;
  width:0px;
}

.line-up{
  position: relative;
  height: 21px;
  left:98px;
  bottom:35px;
  border-left: 2px solid white;
  width:0px;
}

.no-line{
  position: relative;
  height: 21px;
  left:98px;
  bottom:35px;
  border-left: 2px solid transparent;
  width:0px;
}