.statistics-container{
    position:absolute;
    margin:0 auto;
    top:15vh;
    left:25vw;
    width: 50vw;
    height: 50vh;
    z-index:2000;
    grid-template-columns: repeat(auto-fill, 88px);
    grid-template-rows: repeat(auto-fill, 40px);
    background-color:#212224;
    overflow: hidden;
    overflow-y:auto;
}

.grid-box-stat{
    display:grid;
    position:relative;
    top:40px;
    left:40px;
    width:100%;
    height:62%;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(auto-fill 30px);
    grid-auto-columns: 88px;
    grid-auto-rows:25px;
    overflow-y:scroll
}

.grid-item-stat{
    position:relative;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
    border-bottom:1px solid white;
    color:white;
    font-size:12px;
}


.grid-item-result{
    position:relative;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
    border-bottom:1px solid white;
    border-top:1px solid white;
    color:white;
    font-size:12px;
}

.result-div{
    position: absolute;
    top:0px;
    font-size: 12px;
    text-align: left;
}

.close-button{
    position: absolute;
    margin-top:42%;
    margin-left:46vh;
    top:0.5vw;
    left:-18px;
    border:2px solid white;
    outline: 0;
    border-radius:5px;
    width:120px;
    height:25px;
    background-color:transparent;
    color:white;
}

