.pointer-left{
    position: absolute;
    font-size: 45px;
    top:25px;
    right:0px; 
    animation-name: pointer-left-animation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color:transparent;
}
.pointer-right{
    position: absolute;
    font-size: 45px;
    top:25px;
    left:0px;
    animation-name: pointer-right-animation;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color:transparent;
}

@keyframes pointer-left-animation{
    0%{
        right:0px; 
        color:white
    }

    100%{
        right:50px; 
        color:white 
    }
}

@keyframes pointer-right-animation{
    0%{
        left:0px; 
        color:white
    }

    100%{
        left:50px; 
        color:white 
    }
}


