.container{
    margin:auto;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    
}
.box{
    display: flex;
    flex-direction: row;
    margin-top:21%;
    justify-content: flex-end;
    flex-wrap: wrap;
    width:75%;
    height: 34%;
    
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width:75%;
}

.top{
    padding-top:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
   
}

.side{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width:25%;
    margin-bottom: -78%;
    margin-left: 75%;
    
}

.screen{
    background: green;
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;
    height: 50px;
    border: 2px solid black;
}

.button{
    flex: 1 0 25%;
    margin: 3px;
    height: 50px;
}

.zero-button{
    flex: 1 0 58.3%;
    margin: 3px;
    height: 50px;

}

.big-button{
    flex: 1 0 49%;
    margin: 1px 3px 5px 3px;
    height: 107px;
}

.top-button{
    flex: 1 0 21%;
    margin: 3px;
    height: 50px;
}
* {
    margin:0;
}