.container{
  display: flex;
  justify-content: center;
}
.circle {
    border-style: solid;
    border-color: transparent;
    border-radius: 10px 10px 100px 100px;
    width: 30px;
    height: 60px;
    display:inline-block;
}
.no-circle {
  border-style: solid;
  border-color: transparent;
  border-radius: 10px 10px 100px 100px;
  width: 30px;
  height: 60px;
  display:inline-block;
}

div.no-circle:nth-child(even) {
  background:red;
  color:red;
  opacity: 0.2;
  margin-left: 30px
}

div.no-circle:nth-child(odd) {
  background:green;
  color:green;
  opacity: 0.2;
  margin-left: 30px;
}

.line{
    
    border-bottom: 3px solid black;
    position: relative;
    margin-left: 100px;
    margin-left: 30px;
}

div.circle:nth-child(even) {
    animation-name: evenLights;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background:red;
    color:red;
    opacity: 0.2;
    animation-direction: alternate;
    margin-left: 30px;
  }
  

  div.circle:nth-child(odd) {
    animation-name: evenLights;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 0.7s;
    background:green;
    color:green;
    opacity: 0.2;
    margin-left: 30px;
  }

  div.no-circle:nth-child(1) {
    margin-left: 0px;
  }
  div.circle:nth-child(1) {
    margin-left: 0px;
  }

  @keyframes evenLights{
    0%{
      box-shadow: 0 0 1px 1px color;
    }
    100%{
      box-shadow: 0 0px 80px 16px ;
      opacity: 0.7
    }
  }

  .button{
    border-color: transparent;
    height: 30px;
    width: 90px;
    border-radius: 3px;
    outline:none;
    margin: 0;
    position: absolute;
    top: 10%;
    transform: translateY(-50%)
    
  }

    