.chip-top{
    width: 120px;
    height: 20px;
    position: relative;
    background-color: red;
}

.chip-top::before{
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    
}

.chip-bottom{
    width: 120px;
    height: 20px;
    position: relative;
    background-color: blue;
}

.chip-bottom::before{
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid blue;
    border-bottom: 20px solid transparent;
}

.arrow-up{
    position: relative;
    right:0px;
    bottom: 8px;
    font-size: 70%;
    width: 0;
    height: 0;
   
}
.arrow-down{
    position: relative;
    font-size: 70%;
    right:12.7px;
    top: 1px;
    width: 0;
    height: 0;
}
.line{
     height:2px; background: black;
    position: relative;
    width:200px;
   
}

.line-up {
    border-left: 2px solid black;
    height: 32px;
    position: absolute;
    left: 100%;
    top: 0px;
  }
.line-down{
    border-left: 2px solid black;
    height: 32px;
    position: absolute;
    left: 100%;
    top: -30px;
}

.container{
    position: absolute;
    left:200px;
    top: 164px;
}

.grid-container{
    display: grid;
  grid-template-columns: repeat(512, 100px);
  grid-template-rows: repeat(512, 20px);
  grid-auto-columns: 100px;
  grid-auto-rows: 20px;
  
  }
  
  .grid-item {
  
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 70%;;
  grid-row: 3;
  
  }
  .grid-item2 {
   
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 70%;
    grid-row: 4;
   
    }